.navbar {background-color: red; opacity: 0.8; }
.white {color: white}

.legislatorName {display: inline;}

.jumbotron {background-color: transparent;}

.header {text-align: center}

.article {width: 850px; margin: auto;}
.article_block {background-color: lightgray; margin-top: 10px}

.form-sizing {width: 850px; margin: auto; padding-top: 100px; padding-bottom: 300px}
.action-sizing {width: 850px; margin: auto; padding-top: 30px; padding-bottom: 300px}
.full {padding-bottom: 300px}

#root {background-image: linear-gradient(white, lightblue)}
